localhost {
  log {
    format json
  }

  # Включение компрессии (zstd)
  encode zstd

  # Использование самоподписанного сертификата
  tls internal

  # Проксирование всех запросов на сервис app:8080
  reverse_proxy /* app:8080
}